# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store

# Python package distribution
*.egg-info/
dist/
build/

# PyCharm
.idea/

# Streamlit cache and logs (optional)
.streamlit/